<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="adolphus.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="listFileName" value="todolist.xml"/>
    <add key="alistFileName" value="encrypt.xml"/>
    </appSettings>
    <userSettings>
        <adolphus.Settings1>
            <setting name="nameS" serializeAs="String">
                <value>nothing</value>
            </setting>
            <setting name="passwordS" serializeAs="String">
                <value>nothing</value>
            </setting>
            <setting name="emailS" serializeAs="String">
                <value>nothing</value>
            </setting>
            <setting name="imageS" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberme" serializeAs="String">
                <value>nothing</value>
            </setting>
            <setting name="FileString" serializeAs="String">
                <value />
            </setting>
            <setting name="studentId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="staffId" serializeAs="String">
                <value>0</value>
            </setting>
        </adolphus.Settings1>
    </userSettings>   
</configuration>